@import '../../styles/variables.scss';

.mob-menu {
  width: 290px;
  height: 100%;
  background-color: $bg;
  display: flex;
  flex-direction: column;

  &__bg {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: rgba($black, 0.5);
    display: flex;
    justify-content: flex-start;
    z-index: 50;
  }

  &__logo {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 0 0 15px;
  }

  &__nav {
    width: 100%;
    height: calc(100% - 40px);
    display: flex;
    flex-direction: column;

    &__list {
      border-top: solid 1px #e1e1e1;
      padding: 25px 0 25px 15px;

      &>li {
        margin-top: 19px;
        @include paragraph_1;

        &:first-child {
          margin-top: 0;
        }
      }
    }
  }
}