@import '../../styles/variables.scss';
@import "../../styles/media_mixin.scss";

.mob-menu {
  width: 290px;
  height: 100%;
  background-color: $bg;
  display: none;
  flex-direction: column;

  animation-duration: 0.3s;
  animation-name: slidein;
  transition: transform 1.3s 0s;

  &.hide {
    transform: translateX(-100vw);
  }

  &__bg {
    width: 100%;
    height: 100vh;
    position: fixed;
    background-color: rgba($black, 0.5);
    display: flex;
    justify-content: flex-start;
    z-index: 50;

    animation-duration: 0.1s;
    animation-name: visible;
    transition: opacity 1.5s 0s;

    &.hide {
      opacity: 0;
    }
  }

  &__logo {
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 0 0 15px;
  }

  &__nav {
    width: 100%;
    height: calc(100% - 40px);
    display: flex;
    flex-direction: column;

    &__list {
      border-top: solid 1px #e1e1e1;
      padding: 25px 0 25px 15px;

      &>li {
        margin-top: 19px;
        @include paragraph_1;

        &:first-child {
          margin-top: 0;
        }
      }

      
    }
  }

  @include _768 {
    display: flex;
  }
}

@keyframes slidein {
  from {
    transform: translateX(-100vw);
  }

  to {
    transform: translateX(0vw);
  }
}

@keyframes visible {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}