@import '../../styles/variables.scss';
@import '../../styles/media_mixin.scss';

.users {
  width: 100%;
  @include flex-center;

  &__container {
    @include container;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 147px 72px 157px 72px;
    background-color: $bg2;

    @include _768 {
      padding: 113px 30px 119px 30px;
    }
    @include _480 {
      padding: 75px 17px 79px 17px;
    }
  }

  &__title {
    @include heading_1-d;
    margin-bottom: 16px;

    @include _768 {
      @include heading_1-t;
      margin-bottom: 18px;
    }
    @include _480 {
      @include heading_1-m;
      margin-bottom: 9px;
    }
  }

  &__text {
    @include paragraph_1;
    margin-bottom: 78px;
    color: #4c4b4b;

    @include _480 {
      margin-bottom: 37px;
      text-align: center;
    }
  }

  &__cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 51px;

    &:nth-child(2n) {
      @include _480 {
        display: none;
      }
    }
    
    @include _480 {
      flex-direction: column;
      align-items: center;
      margin-bottom: 0;
    }

  }

  &__btn {
    padding: 9px 62px;
    margin-top: 6px;
    background-color: $primary;
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    font-weight: 600;
    color: $bg;

    max-width: 530px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &:hover {
      @include hover-btn;
    }

    &:disabled, &[disabled] {
      background-color: #D7D7D7;
      color: #979696;
      cursor: default;
    }

    @include _480 {
      margin-top: 0;
    }
  }
}