@import '../../styles/variables.scss';

.users {
  width: 100%;
  @include flex-center;

  &__container {
    @include container;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 147px 72px 157px 72px;
    background-color: $bg2;
  }

  &__title {
    @include heading_1-d;
    margin-bottom: 16px;
  }

  &__text {
    @include paragraph_1;
    margin-bottom: 78px;
    color: #4c4b4b;
  }

  &__cards {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 51px;
  }

  &__btn {
    padding: 9px 62px;
    margin-top: 6px;
    background-color: $primary;
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    font-weight: 600;
    color: $bg;

    max-width: 530px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &:hover {
      @include hover-btn;
    }
  }
}