@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
@import './null-style.scss';
@import './variables.scss';
@import './media_mixin.scss';

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 24px;
  font-weight: 400;
  color: $black;
  background: $bg;

  &.disable-scroll {
    overflow: hidden;
  };
}

#root {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  padding-top: 60px;

  @include _360 {
    padding-top: 40px;
  }
}

