@import './null-style.scss';
@import './variables.scss';

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 24px;
  font-weight: 400;
  color: $black;
  background: $bg;
}

#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  padding-top: 60px;
}

