//Colors

$primary: #ef5b4c;
$secondary: #007bff;
$bg: #fff;
$bg2: #f9f9f3;
$black: #212529;
$primary-hover: #d24335;

//Typography

@mixin heading_1-d {
  font-size: 50px;
  line-height: 54px;
}
@mixin heading_1-t {
  font-size: 40px;
  line-height: 44px;
}
@mixin heading_1-m {
  font-size: 30px;
  line-height: 34px;
}

@mixin heading_2 {
  font-size: 24px;
  line-height: 29px;
}

@mixin paragraph_1 {
  font-size: 16px;
  line-height: 24px;
}

//Hover

@mixin hover-text {
  color: $primary;
  transition: color 0.2s;
}

@mixin hover-btn {
  background-color: $primary-hover;
  transition: background-color 0.2s;
}

@mixin hover-text-btn {
  color: $primary-hover;
  transition: color 0.2s;
}

//Container

@mixin container {
  width: 100%;
  max-width: 1170px;
  height: 100%;
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}