@import url('https://fonts.googleapis.com/css2?family=PT+Sans&display=swap');
@import "../../styles/variables.scss";
@import "../../styles/media_mixin.scss";

.modal {
  width: 395px;
  padding: 12px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: $bg;
  border-radius: 4px;
  border: solid 1px rgba(0, 0, 0, 0.2);
  position: relative;

  &__bg {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    background-color: rgba($black, 0.5);
    @include flex-center;
  }

  &__title {
    @include heading_2;
    margin-left: 17px;
  }

  &__close {
    position: absolute;
    top: 25px;
    left: calc(100% - 29px);
    cursor: pointer;
  }

  &>hr {
    width: 100%;
    height: 1px;
    background-color: #eceef1;
    margin-top: 21px;
  }

  &__text {
    width: 100%;
    padding: 18px 0;
    border-top: 1px solid #eceef1;
    border-bottom: 1px solid #eceef1;
    @include paragraph_1;
    text-align: center;
    margin-top: 18px;
    margin-bottom: 16px;
  }

  &__btn {
    padding: 8px 18px;
    background-color: $primary;
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    font-weight: 600;
    color: $bg;
    margin-right: 17px;

    &:hover {
      @include hover-btn;
    }

    &-block {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
  }

  @include _480 {
    display: none;
  }
}

.mobile-modal {
  display: none;
  position: relative;
  align-items: center;
  justify-content: center;
  width: 290px;
  height: 178px;
  padding: 0 25px;
  border-radius: 4px;
  background-color: $bg;

  &__text {
    font-family: 'PT Sans', sans-serif;
    @include paragraph_1;
  }

  &__btn {
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    color: #ef6c00;
    position: absolute;
    top: calc(100% - 40px);
    left: calc(100% - 45px);
  }

  @include _480 {
    display: flex;
  }
}