@import '../../styles/variables.scss';
@import '../../styles/media_mixin.scss';

header {
  width: 100%;
  height: 60px;
  background-color: $bg;

  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;

  @include _360 {
    height: 40px;
  }
}

.header {
  &__container {
    @include container;
    padding: 0 30px;

    display: flex;
    justify-content: space-between;
    align-items: center;

    @include _360 {
      padding: 0 15px;
    }
  }

  &__nav {
    &>ul {
      display: flex;
      align-items: center;

      &>li {
        font-size: 14px;
        cursor: pointer;
        margin-left: 28.5px;

        &:first-child {
          margin-left: 0;
        }

        &:hover {
          @include hover-text;
        }
      }
    }

    @include _768 {
      display: none;
    }
  }
}

.burger {
  &-btn {
    width: 20px;
    height: 15px;
    background-image: url(../../assets/menu_icon.svg);
    display: none;

    @include _768 {
      display: inline-block;
    }
  }
}



