@import '../../styles/variables.scss';
@import '../../styles/media_mixin.scss';

footer {
  width: 100%;
  padding: 16px 0 19px 0;
  @include flex-center;
  border-top: 1px solid #ececec;
}

.footer__text {
  @include paragraph_1;
  color: #4c4b4b;

  @include _768 {
    margin-left: 8px;
  }
  @include _480 {
    margin-left: 0;
  }
}