@import '../../styles/variables.scss';

.banner {
  width: 100%;
  height: 600px;
  @include flex-center;

  &__container {
    @include container;
    background: url(../../assets/banner-photo.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0 30px;
    display: flex;
    align-items: center;
  }

  &__content {
    width: 530px;
    // height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }

  &__title {
    @include heading_1-d;
    text-transform: uppercase;
    color: $bg;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;  
    overflow: hidden;
    letter-spacing: -0.6px;
    margin-bottom: 23px;
  }

  &__text {
    @include paragraph_1;
    color: $bg;
    margin-bottom: 40px;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }

  &__btn {
    padding: 9px 59px 9px 57px;
    background-color: $primary;
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    font-weight: 600;
    color: $bg;

    max-width: 530px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &:hover {
      @include hover-btn;
    }
  }
}