@import '../../styles/variables.scss';

.banner {
  width: 100%;
  height: 600px;
  @include flex-center;

  &__container {
    @include container;
    background: url(../../assets/banner-photo.jpg) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0 30px;
  }

  &__content {
    width: 530px;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }

  &__title {
    @include heading_1-d;
    text-transform: uppercase;
    color: $bg;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }

  &__text {
    @include paragraph_1;
    color: $bg;
    margin-top: 37px;
    margin-bottom: 39px;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;  
    overflow: hidden;
  }

  &__btn {
    padding: 12px 59px 9px 57px;
    background-color: $primary;
    border-radius: 4px;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
    font-weight: 600;
    color: $bg2;
    

    &:hover {
      @include hover-btn;
    }
  }
}